<<<<<<< HEAD
<div class="container">
=======
>>>>>>> f918c4afd076216ea7bf4436dc327385912192a0
<h1><%= @user.first_name %> <%= @user.last_name %> </h1>
<p>Email: <%= @user.email %>
<p>University or School: <%= @user.university_or_school %>

<p><%= link_to "Edit your account", "/users/#{@user.id}/edit", method: 'post' %>
<<<<<<< HEAD
</div>
=======
>>>>>>> f918c4afd076216ea7bf4436dc327385912192a0
