<h1>Edit your Tree</h1>

<%= form_for @tree do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %></p>

  <%= f.label :species %>:
  <%= f.text_field :species %></p>

  <%= f.label :diameter %>:
  <%= f.text_field :diameter %></p>

  <%= f.label :mass %>:
  <%= f.text_field :mass %></p>

  <%= f.label :co2_removed %>:
  <%= f.text_field :co2_removed %></p>

  <%= f.label :user_id %>:
  <%= f.text_field :user_id %></p>

  <%= f.submit %>
<% end %>

<p><%= link_to "Delete this tree", tree_path(@tree.id), method: 'delete' %>
