<h1>All Trees</h1>
<% @tree.each do |a| %>
  <p>Tree Name: <%= a.name %>
  <p>Tree Species: <%= a.species %>
  <p>Diameter at Breast Height: <%= a.diameter %>
  <p>Mass: <%= a.mass %>
  <p>CO2 Removed: <%= a.co2_removed %>
  <p>Owner: <%= a.user_id %>
<% end %>
