<h1><%= @tree.name %></h1>
<p>Diameter at breast height: <%= @tree.diameter %>
<p>Mass: <%= @tree.mass %>
<p>CO2 Removed: <%= @tree.co2_removed %>
<p>Owner: <%= @tree.user_id %>
<p><%= link_to "Edit your account", "/trees/#{@tree.id}/edit", method: 'post' %>
